<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">MobileSpectrum</h1>
        <p class="lead">Check here your country's mobile network spectrum allocation</p>
    </div>
</div>
<div class="container body-container">
    <h2> Countries </h2>
    <ul>
        <li><a routerLink="austria">Austria</a></li>
        <li><a routerLink="brazil">Brazil</a></li>
        <li><a routerLink="denmark">Denmark</a></li>
        <li><a routerLink="estonia">Estonia</a></li>
        <li><a routerLink="finland">Finland</a>
            <ul>
                <li><a routerLink="finland/åland">Åland</a></li>
            </ul>
        </li>
        <li><a routerLink="germany">Germany</a></li>
        <li><a routerLink="italy">Italy</a></li>
		    <li><a routerLink="japan">Japan</a></li>
        <li><a routerLink="netherlands">Netherlands</a></li>
        <li><a routerLink="norway">Norway</a></li>
        <li><a routerLink="romania">Romania</a></li>
        <li><a routerLink="russia">Russia</a>
            <ul>
                <li><a routerLink="russia/moscow">Moscow</a></li>
                <li><a routerLink="russia/st._petersburg">St. Petersburg</a></li>
                <li><a routerLink="russia/ekaterinburg">Ekaterinburg</a></li>
                <li><a routerLink="russia/kaliningrad">Kaliningrad</a></li>
            </ul>
        </li>
        <li><a routerLink="spain">Spain</a></li>
        <li><a routerLink="sweden">Sweden</a></li>
        <li><a routerLink="thailand">Thailand</a></li>
        <li><a routerLink="ukraine">Ukraine</a></li>
        <li><a routerLink="united_kingdom">United Kingdom</a>
            <ul>
                <li><a routerLink="united_kingdom/northern_ireland">Northern Ireland</a></li>
            </ul>
        </li>
    </ul>
</div>
